@font-face {
    font-family: 'MV Boli';
    src: url('MVBoli.woff2') format('woff2'),
        url('MVBoli.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

